*{
    padding:0;
    margin:0;
}
#container
{
    color:#f7c08a ;
}
#innercontainer{

    border:2px solid black;
    box-shadow:2px 2px 10px rgba(0, 0, 0, 0.747);
    width: 90vw;
    margin-bottom:3rem;
}
#inner{
    display: flex;
    position: relative;
    top:10rem;
    justify-content: center;
}
.list1{
    color:black !important;
    font-weight: 1000;
    font-size:20px;
    border-bottom: 1px solid black;
}
.list{
    color:rgb(255, 251, 251)!important;
    text-align: center;
    font-size: 18px;
    height: 3rem;
    display: flex;
    flex-direction: row;
}
.elements0{
    color:rgb(255, 251, 251)!important;

    display: flex;
    justify-content: center;
    align-items: center;
    
    width:12vw;
    height: 3rem;
}
.elements1{
    color:rgb(255, 251, 251)!important;

    display: flex;
    justify-content: center;
    align-items: center;
    width:25vw;
    height: 3rem;
}
.elements2{
    color:rgb(255, 251, 251)!important;

    display: flex;
    justify-content: center;
    align-items: center;
    width:15vw;
    height: 3rem;
}
.elements3{
    color:rgb(255, 251, 251)!important;

    display: flex;
    justify-content: center;
    align-items: center;
    width:14vw;
    height: 3rem;
}
.elements4{
    color:rgb(255, 251, 251)!important;

    display: flex;
    justify-content: center;
    align-items: center;
    width:23.5vw;
    height: 3rem;
}

#space{
    height:0.7rem;
}

.option
{
    cursor: pointer;
}
footer{
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    background-color:#222327;
    font-size:18px;
    color:white;
    position:relative;
    top:8.5rem;
}